* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes animacaoInfo {
    0%{color: blue;}
    40%{color: chartreuse;}
    100%{color: green;}
}

@keyframes animacaoButtons {
    0%{background-color: blue;}
    40%{background-color: chartreuse;}
    100%{background-color: green;}
}


.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}

.linha {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linha1, .linha2 {
    border-bottom: 3px solid black;
}

.quadradoY, .none {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.quadradoY {
    border-right: 3px solid black;
}

.placar {
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bolinha, .xis {
    height: 50%;
    display: flex;
    margin: 50px;
}

#valorO, #valorX {
    margin-left: 15px;
}

.conteudo-quadrado {
    width: 100%;
    height: 100%;
}

.reiniciar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.botao {
    width: 30px;
    height: 30px;
    background-image: url('img/4213447-arrow-load-loading-refresh-reload-restart-sync_115423.svg');
    background-position: center;
    background-size: auto 100%;
    margin: 20px;
    cursor: pointer;

}

.fade {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.325);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.texto {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botoes input {
    width: 50%;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.botoes input:hover {
    transform: scale(0.9);
}

.fadeWin {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-informativo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 50px;
    font-weight: bold;
    color: blue;
    border-radius: 20px;
    text-align: center;
    animation-name: animacaoInfo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.botoaoJogarNovamente button {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
    animation-name: animacaoButtons;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.botoaoJogarNovamente button:hover {
    transform: scale(0.9);
}

.placar-informativo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 50px;
    font-size: 50px;
    color: green;
}

@media only screen and (max-width: 768px) {
    .placar-informativo {
        font-size: 30px;
    }

    .placar {
        font-size: 30px;
    }
}